<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077841547040-igbmhefs1fo99sh2ho1j82qtrl1g5f73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077841547040-igbmhefs1fo99sh2ho1j82qtrl1g5f73</string>
	<key>API_KEY</key>
	<string>AIzaSyClMy7G0WxekeK_4KrXQrUOEx854YK6lBI</string>
	<key>GCM_SENDER_ID</key>
	<string>1077841547040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dhrvgpta.Clung</string>
	<key>PROJECT_ID</key>
	<string>clung-cb084</string>
	<key>STORAGE_BUCKET</key>
	<string>clung-cb084.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077841547040:ios:53e27379e4271bb00b1145</string>
</dict>
</plist>